*/
!bin/
!bin/*
!.config/
!.config/mc
!.dotfiles/
!.dotfiles/*
!.dotfiles/*/*
!.dotfiles/*/*/*

*dump*
*history
*hst
.DS_Store
.geoip
.gitcookies
.netrc
.rnd
.viminfo
.wakatime.db
.wakatime.log
.zsh-update
.z
